* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

body {
    background-color:white ;
    margin-bottom: 100px;
    padding-top:20px;
}


/*menu*/

ul 
{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li 
{
    display:inline-block;

}

ul li a 
{
    color:white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: white;
    color:black;
}
ul li.active a
{
    background-color: white;
    color:black;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

/*       main       */

main {
     margin-top: 70px;

}

.content 
{
    display: block;
    width:650px;
    height: 100%;
    margin:0 auto;
    margin-top: 220px;
}

.main-h1 
{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
    font-size: 3.2em; 
}

.main-h2 
{
    
    text-align: center;


}


/*footer*/


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

footer a 
{
    text-decoration: none;
    color:black;
}


footer a:hover 
{

    color:grey;

}

/* tabacoo page sectioning */

.epilogue 
{
    text-align: center;


}

h3 {
    text-align: center;
}

section 
{
        float: left;
        margin: 0 1.5%;
        width: 30%;
        margin-top: 60px;
        text-align: justify;
}

section ol 
{
   list-style: none;
   text-align: center;
}

section h3 a 
{
    text-decoration: none;
    color:black;

}

section h3 a:hover 
{
    color:grey;

}

/*How to page*/

.howto {
margin-left: 200px;
margin-right: 200px;
background-color: rgba(0, 0, 0, 0.1)

}
.assemble 
{
    padding-bottom: 25px;
    text-align: center;
}


.flex-grid { 
    margin: 0 0 20px 0;
  }
  .col {
    padding: 20px;
  }

  .flex-grid {
    display: flex;
    margin-top:5px;
    text-align: center;
  }
  .flex-grid .col {
    flex: 1;
  }

.col img 
{
    float: right;
    width:100%;
    height: 100%;

}

.col ul li 
{
    padding-top: 10px;

}

.col h3 {padding-bottom:10px;}


/*lounges*/

.h1lounge{text-align: center;}

.damascus
{
    background-image:url("../img/damascus.jpg");
    width:400px;
    height:500px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    
}
.damascus:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.ziva {
    background-image:url("../img/ziva.png");
    width:400px;
    height:500px;
    text-align: center;
    font-size: 1.8em;
}
.ziva:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}


.speshial {
    background-image:url("../img/speshial.jpg");
    width:400px;
    height:500px;
    text-align: center;
    font-size: 1.8em;
}
.speshial:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}


.damascus a {
    color:white;
    text-decoration: none;
}

.damascus a:hover {

    color:black;

}

.speshial a {
    color:white;
    text-decoration: none;
}

.speshial a:hover {

    color:black;

}

.ziva a {
    color:white;
    text-decoration: none;
}

.ziva a:hover {

    color:black;

}

.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
    
    
  }
  .flex-grid-thirds .col {
    width: 31%;
  }



/*Zoom */
.zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(../img/icon.png);
}
.zoom img {
    display: block;
}
.zoom img::selection { background-color: transparent; }













